.People__container {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.People__containerForContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.People__input {
  padding: 8px 6px; 
  background-color: #1a1a1a; 
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.People__table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 1px solid white;
 }
}

.People__pagination {
  ul {
    justify-content: center;
    margin-top: 30px;
  }

  button, div {
    color: white;
  }

  button {
    &:hover {
      background-color: #fbd319;
    }
  }

  svg {
    fill: white;
  }
}

.People__notFound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.People__btnBack {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 0;

  &:hover {
    color: #fbd319;
  }
}